<h1>物件一覧</h1>

<table>
  <% @rooms.each do |room| %>
  <tr>
    <th>物件名</th>
    <td><%= room.name %></td>
    <th>賃料</th>
    <td><%= room.rent %></td>
    <th>住所</th>
    <td><%= room.address %></td>
    <th>築年数</th>
    <td><%= room.age %></td>
    <th>備考</th>
    <td><%= room.note %></td>
    <td><%= link_to '詳細', room_path(room.id) %></td>
    
  </tr>
  <% end %>
</table>
<td><%= link_to '物件を登録する', new_room_path %></td>

